a{
    color: black;
    text-decoration: none;
}

li.recipes-list-elem{
    list-style-type: none;
}

ul{
    padding: 0px;
    margin-left: 0px;
}

a:hover{
    color:dodgerblue;
}

body{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.main-block{
    width:700px;
}

h1{
    padding: 0px;
    margin: 0px;
    text-align: center
}

ul li.recipes-list-elem{
    border-bottom: 2px solid black;
    padding:10px 0px;
    padding-left: 10px;
}