a{
    color: black;
    text-decoration: none;
}

li.recipes-list-elem{
    list-style-type: none;
}

.ingredients-list-item{
    padding: 2px;
    margin-left: 20px;
}

.directions-list-item{
    padding: 2px;
    margin-left: 20px;
}

ul, ol{
    padding: 0px;
    margin-left: 0px;
}

a.home-link:hover {
    text-decoration: underline;
}

.red-highlight{
    background-color: rgb(251, 165, 165);
    text-align: center;
}

body{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    font-family:'Times New Roman', serif;  
}

.main-block{
    width:700px;
    margin-bottom: 25px;
}

h1{
    padding: 0px;
    margin: 0px;
    text-align: center
}

ul li.recipes-list-elem{
    border-bottom: 2px solid black;
    padding:10px 15px;
}

.centered-list{
    display: flex;
    justify-content: center;
}

ul{
    width:400px;
}

.recipe-result-img-div{
    display: flex;
    justify-content: center;
}

.recipe-result-img-itself{
    width: 700px;
}