a{
    color: black;
    text-decoration: none;
}

li.recipes{
    list-style-type: none;
}

ul{
    padding: 0px;
    margin-left: 0px;
}

a:hover{
    color:dodgerblue;
}

body{
    margin: 20px;
}

h1{
    padding: 0px;
    margin: 0px;
}